@font-face {
	font-family: 'DecimalLight';
	src: url('../fonts/Decimal-Light-Pro.otf') format('opentype');
}
@font-face {
	font-family: 'DecimalBlack';
	src: url('../fonts/Decimal-Black-Pro.otf') format('opentype');
}
@font-face {
	font-family: 'GothamXNarrow';
	src: url('../fonts/GothamXNarrow-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'OperatorMonoBook';
	src: url('../fonts/OperatorMono-Book.otf') format('opentype');
}
@font-face {
	font-family: 'OperatorMonoBookItalic';
	src: url('../fonts/OperatorMono-BookItalic.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body::-webkit-scrollbar {
	display: none;
}

body {
	box-sizing: border-box;
	font-family: 'DecimalLight';
}

h1 {
	font-size: 12em;
	color: #e3f2fd;
}

.welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	padding: 50px;
	transition: all 500ms linear;
	opacity: 1;
	animation: welcome-fade-in 2s ease-in;
}

.welcome-fade-out {
	animation: welcome-fade-out 500ms ease-out !important;
	opacity: 0;
}

@keyframes welcome-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes welcome-fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.logo-path-cont {
}

#logo-path {
	
}

.game-sel {
	background: none;
	border: 2px solid #e3f2fd;
	border-radius: 10px;
	height: 100px;
	min-width: 300px;
	font-size: 3rem;
	color: #e3f2fd;
	font-family: 'Poiret One';
	transition: all 200ms linear;
}

.game-sel:hover {
	background-color: #e3f2fd;
	color: #686963;
	cursor: pointer;
	transition: all 200ms linear;
}

h1,
.po {
	font-family: 'Poiret One';
}

.none {
	background-color: none;
	border: none;
}

.App {
	text-align: center;
	background-color: #3B3D32;
	height: 100vh;
	width: 100vw;
}

.flex {
	display: flex;
}

.center {
	justify-content: center;
}

.mid {
	align-items: center;
}

.around {
	justify-content: space-around;
}

.col {
	flex-direction: column;
	align-items: center;
}

.Square {
	width: 12.5%;
	height: 12.5%;
	flex-direction: column;
	align-items: baseline;
	background: contain;
	background-repeat: no-repeat;
	transition: 150ms;
	background-size: 90%;
	background-origin: border-box;
	background-position: bottom 5px center;
}

.selected,
.Square:hover {
	cursor: pointer;
	opacity: 1;
	box-shadow: inset 0px 0px 15px 0px rgba(38, 173, 159, 0.7);
	background-size: 100%;
	background-position: bottom 2px center;
}

.Square-text {
	font-size: 12px;
	padding: 3px;
	color: lightgray;
}

.invalid:hover {
	cursor: default;
	box-shadow: none;
	opacity: 1;
	background-size: 90%;
	background-position: bottom 5px center;
}

.light {
	background-color: hsl(205, 87%, 94%);
	color: hsl(170, 11%, 59%);
}

.dark {
	background-color: hsl(170, 11%, 59%);
	color:  hsl(205, 87%, 94%);
}

.Board {
	width: 70vw;
	min-width: 400px;
	height: 70vw;
	min-height: 400px;
	max-height: 90vh;
	max-width: 90vh;
	flex-wrap: wrap;
	z-index: 2;
	flex-direction: row;
	border: 3px solid #E3F2FD;
	box-shadow: 0px 0px 30px 0px #686963;
	animation: welcome-fade-in 1s linear;
	/* transition: 1s;
	transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86); */
}

.attack {
	background: rgba(250, 0, 0, 0.5);
}

.move {
	box-shadow: inset 0px 0px 35px 0px rgba(219, 84, 97, 0.7);
}

.rotW {
	transform: rotate(0deg);
}

.rotB {
	transform: rotate(180deg);
}

.Board:after {
	content: '';
	padding-bottom: 100%;
}

#square-marker {
	font-size: 1.5rem;
	font-family: 'OperatorMonoBook';
	padding: 5px;
	background: none;
}	

.p {
	background-image: url('../img/black_pawn1x.svg');
}
.P {
	background-image: url('../img/white_pawn1x.svg');
}
.r {
	background-image: url('../img/black_rook1x.svg');
}
.n {
	background-image: url('../img/black_knight1x.svg');
}
.b {
	background-image: url('../img/black_bishop1x.svg');
}
.q {
	background-image: url('../img/black_queen1x.svg');
}
.k {
	background-image: url('../img/black_king1x.svg');
}
.R {
	background-image: url('../img/white_rook1x.svg');
}
.N {
	background-image: url('../img/white_knight1x.svg');
}
.B {
	background-image: url('../img/white_bishop1x.svg');
}
.Q {
	background-image: url('../img/white_queen1x.svg');
}
.K {
	background-image: url('../img/white_king1x.svg');
}

/* .p {
	background-image: url('../img/black_pawn1x.png');
}
.P {
	background-image: url('../img/white_pawn1x.png');
}
.r {
	background-image: url('../img/black_rook1x.png');
}
.n {
	background-image: url('../img/black_knight1x.png');
}
.b {
	background-image: url('../img/black_bishop1x.png');
}
.q {
	background-image: url('../img/black_queen1x.png');
}
.k {
	background-image: url('../img/black_king1x.png');
}
.R {
	background-image: url('../img/white_rook1x.png');
}
.N {
	background-image: url('../img/white_knight1x.png');
}
.B {
	background-image: url('../img/white_bishop1x.png');
}
.Q {
	background-image: url('../img/white_queen1x.png');
}
.K {
	background-image: url('../img/white_king1x.png');
} */

@media only screen and (max-width: 600px) {
	.logo {
		text-align: center;
		font-size: 4rem;
	}
}

@keyframes move-to-center {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(50%);
	}
	75% {
		transform: translateX(50%);
	}
	100% {
		transform: translateX(0%);
	}
}
