@font-face {
	font-family: 'DecimalLight';
	src: url('./assets/fonts/Decimal-Light-Pro.otf') format('opentype');
}
@font-face {
	font-family: 'DecimalBlack';
	src: url('./assets/fonts/Decimal-Black-Pro.otf') format('opentype');
}
@font-face {
	font-family: 'GothamXNarrow';
	src: url('./assets/fonts/GothamXNarrow-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'OperatorMonoBook';
	src: url('./assets/fonts/OperatorMono-Book.otf') format('opentype');
}
@font-face {
	font-family: 'OperatorMonoBookItalic';
	src: url('./assets/fonts/OperatorMono-BookItalic.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body::-webkit-scrollbar {
	display: none;
}

body {
	box-sizing: border-box;
	font-family: 'DecimalLight';
}

h1 {
	font-size: 8em;
	color: lightblue;

}

.po {
	font-family: 'Poiret One';
}

.none {
	background-color: none;
	border: none;
}

.App {
	text-align: center;
	background-color: lightgray;
	height: 100vh;
	width: 100vw;
}

.SideNav {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 20vw;
	background-color: darkslategray;
	transition: 500ms;
	flex-direction: column-reverse;
	align-items: center;
}

.sn-collapse {
	width: 5vw;
}

.sn-toggle-btn {
	position: absolute;
	right: 10px;
	top: -30px;
	background: none;
	border: none;
	color: lightblue;
	font-size: 8rem;
}

.sn-toggle-btn:hover {
	cursor: pointer;
	animation: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s infinite alternate right-left;
	
}

@keyframes right-left {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-10px);
	}
}
@-webkit-keyframes right-left {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-10px);
	}
}

.SideNav-btn {
	padding: 10px;
	text-align: center;
	background-color: powderblue;
	border-radius: 10px;
	height: 50px;
	width: 80%;
	border: none;
	color: darkslategray;
	font-size: 1.5rem;
	margin-top: 10px;
	transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.SideNav-btn:hover {
	cursor: pointer;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.7)
}

.logo {
	color: paleturquoise;
	font-family: 'DecimalLight';
	font-variant-caps: small-caps;
	font-size: 5rem;
	font-weight: 100;
	text-align: left;
	padding-left: 10px;
	z-index: 1;
}

.flex {
	display: flex;
}

.center {
	justify-content: center;
}

.mid {
	align-items: center;
}

.around {
	justify-content: space-around;
}

.col {
	flex-direction: column;
	align-items: center;
}

.Square {
	width: 12.5%;
	height: 12.5%;
	flex-direction: column-reverse;
	align-items: baseline;
	background: contain;
	background-repeat: no-repeat;
	transition: .3s;
	background-size: 90%;
	background-origin: border-box;
	background-position: bottom 5px center;
}

.Square:hover {
	cursor: pointer;
	opacity: 0.8;
	box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.7);
	background-size: 100%;
	background-position: bottom 2px center;
}

.Square-text {
	font-size: 12px;
	padding: 3px;
	color: lightgray;
}

.light {
	background-color: lightgrey;
}

.inset:hover {
	box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.7);
}

.dark {
	background-color: darkslategrey;
}

.piece-image {
	height: 100%;
	width: 100%;
}

.Board {
	width: 70vw;
	min-width: 400px;
	height: 70vw;
	min-height: 400px;
	max-height: 90vh;
	max-width: 90vh;
	flex-wrap: wrap;
	z-index: 2;
	flex-direction: row;
	border: 1px solid gray;
	box-shadow: grey 1px 1px 50px;
	transition: 1.5s;
	transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.invalid {
	opacity: .5;
}

.attack {
	background: rgba(250, 0, 0, 0.5);
}

.move {
	background: rgba(0, 241, 12, 0.418)
}

.wht {
	transform: rotate(0deg);
}

.blk {
	transform: rotate(180deg);
}

.Board:after {
	content: '';
	padding-bottom: 100%;
}

.markers {
	font-size: 1.2rem;
	font-family: 'OperatorMonoBook';
}

.Files {
	width: 70vw;
	min-width: 400px;
	max-width: 90vh;
	height: 20px;
}

.File-marker {
	width: 12.5%;
	margin-top: 5px;
}

.Ranks {
	height: 70vw;
	min-height: 400px;
	max-height: 90vh;
	transition: 1s;
}

.Rank-marker {
	height: 12.5%;
	margin-right: 8px;
}

.p {
	background-image: url('./assets/img/black_pawn1x.svg');
}
.P {
	background-image: url('./assets/img/white_pawn1x.svg');
}
.r {
	background-image: url('./assets/img/black_rook1x.svg');
}
.n {
	background-image: url('./assets/img/black_knight1x.svg');
}
.b {
	background-image: url('./assets/img/black_bishop1x.svg');
}
.q {
	background-image: url('./assets/img/black_queen1x.svg');
}
.k {
	background-image: url('./assets/img/black_king1x.svg');
}
.R {
	background-image: url('./assets/img/white_rook1x.svg');
}
.N {
	background-image: url('./assets/img/white_knight1x.svg');
}
.B {
	background-image: url('./assets/img/white_bishop1x.svg');
}
.Q {
	background-image: url('./assets/img/white_queen1x.svg');
}
.K {
	background-image: url('./assets/img/white_king1x.svg');
}

.invalid {
	opacity: 0.5;
}

@media only screen and (max-width: 600px) {
	.logo {
		text-align: center;
		font-size: 4rem;
	}
}
